{% extends "base.html" %}
{% load static %}


{% block title %}..{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/adminlte/css/adminlte.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <header>
    <img src="{% static 'jazzmin/vendor/adminlte/img/AdminLTELogo.png' %}" alt="Logo" />
  </header>

  <div class="content">
    <!-- your content -->
  </div>

  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/adminlte/js/adminlte.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
